<!-- <section class="splide" aria-label="Splide Basic HTML Example">
  <div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide">Slide 01</li>
			<li class="splide__slide">Slide 02</li>
			<li class="splide__slide">Slide 03</li>
		</ul>
  </div>
</section> -->

<section id="masterWrap" class=" splide">
    <div class="gallery splide__track" >
        <ul class="cards splide__list">
         
            <li data-splide-hash="#selfie-by-flip" class="section splide__slide">
                <div class="panel-overlay-text"><a href="https://specialprojectsgroup.xyz/"><i class="fa-sharp fa-regular fa-xmark fa-fw panel-overlay-x"></i></a></div>
                <video 
                    class="slider-video"
                    crossOrigin="anonymous" 
                    playsInline 
                    muted 
         
               
                    controls
                    data-project="Selfie by Flip"
                    data-hashnav="#selfie-by-flip"
                    data-company="Samsung"
                    data-company-link="#selfie-by-flip"
                    preload="auto"
                    controlsList="nopictureinpicture"
                    disablepictureinpicture
                    picture-in-picture="false"

                    poster="../assets/optimized/01-selfie-by-flip-compressed.jpg"> 
                    <source src="../assets/optimized/full/selfie-by-flip-compressed-full.mp4" type="video/mp4">
                </video>
            </li>
            <li data-splide-hash="#food-mood" class="section splide__slide" >  
                <div class="panel-overlay-text"><a href="https://specialprojectsgroup.xyz/"><i class="fa-sharp fa-regular fa-xmark fa-fw panel-overlay-x"></i></a></div>  
                <video 
                    class="slider-video"
                    crossOrigin="anonymous" 
                    playsInline 
                    muted 
          
              
                    controls
                    preload="auto"
                    controlsList="nopictureinpicture"
                    disablepictureinpicture
                    picture-in-picture="false"

                    data-project="Coca Cola Food Mood"
                    data-hashnav="#coca-cola-food-mood"
                    poster="../assets/optimized/03-food-mood-compressed.jpg">
                    <source src="../assets/optimized/full/food-mood-compressed-full.mp4" type="video/mp4">
                </video>
            </li>
            <li data-splide-hash="#fold-4-launch" class="section splide__slide">
                <div class="panel-overlay-text"><a href="https://specialprojectsgroup.xyz/"><i class="fa-sharp fa-regular fa-xmark fa-fw panel-overlay-x"></i></a></div>
                <video 
                    class="slider-video"
                    crossOrigin="anonymous" 
                    playsInline 
                    muted  
                    controls
                    preload="auto"
                    controlsList="nopictureinpicture"
                    disablepictureinpicture
                    picture-in-picture="false"
                    data-project="Galaxy Fold 4 Launch"
                    data-hashnav="#fold-4-launch"
                    poster="../assets/optimized/04-galaxy-fold-4-compressed.jpg">
                <source src="../assets/optimized/full/galaxy-fold-4-launch-compressed-full.mp4" type="video/mp4">
                </video>
            </li>
            <li data-splide-hash="#coca-cola-y3000" class="section splide__slide">
                <div class="panel-overlay-text"><a href="https://specialprojectsgroup.xyz/"><i class="fa-sharp fa-regular fa-xmark fa-fw panel-overlay-x"></i></a></div>
                <video 
                    class="slider-video"
                    crossOrigin="anonymous" 
                    playsInline 
                    muted 
                    controls
                    preload="auto"
                    controlsList="nopictureinpicture"
                    disablepictureinpicture
                    picture-in-picture="false"

                    data-project="y3000 case study"
                    data-hashnav="#coca-cola-y3000"
                    poster="../assets/optimized/07-y3000-case-film-compressed.jpg">
                    <source src="../assets/optimized/full/y3000-case-film-compressed-full.mp4" type="video/mp4">
                </video>
            </li>
            <li data-splide-hash="#tiny-type" class="section splide__slide">
                <div class="panel-overlay-text"><a href="https://specialprojectsgroup.xyz/"><i class="fa-sharp fa-regular fa-xmark fa-fw panel-overlay-x"></i></a></div>
                <video 
                  class="slider-video"
                  crossOrigin="anonymous" 
                  playsInline 
                  muted 
                  controls
                  preload="auto"
                  controlsList="nopictureinpicture"
                    disablepictureinpicture
                    picture-in-picture="false"

                  data-project="Samsung Tiny Type"
                  data-hashnav="#tiny-type"
                  poster="../assets/optimized/05-samsung-tiny-type-compressed.jpg">
                  <source src="../assets/optimized/full/samsung-tiny-type-compressed-full.mp4" type="video/mp4">
                </video>
            </li>
            <li data-splide-hash="#voices-of-galaxy" class="section splide__slide">
                <div class="panel-overlay-text"><a href="https://specialprojectsgroup.xyz/"><i class="fa-sharp fa-regular fa-xmark fa-fw panel-overlay-x"></i></a></div>
                <video 
                  class="slider-video"
                  crossOrigin="anonymous" 
                  playsInline 
                  muted 
                  controls
                  preload="auto"
                  controlsList="nopictureinpicture"
                    disablepictureinpicture
                    picture-in-picture="false"

                  data-project="Voices of Galaxy"
                  data-hashnav="#voices-of-galaxy"
                  poster="../assets/optimized/06-voices-of-galaxy-compressed.jpg">
                  <source src="../assets/optimized/full/voices-of-galaxy-compressed-full.mp4" type="video/mp4">
              </video>
            </li>
            <li data-splide-hash="#hrblock-lifes-uncertainties" class="section splide__slide">
                <div class="panel-overlay-text"><a href="https://specialprojectsgroup.xyz/"><i class="fa-sharp fa-regular fa-xmark fa-fw panel-overlay-x"></i></a></div>
                <video 
                  class="slider-video"
                  crossOrigin="anonymous" 
                  playsInline 
                  muted 
                  controls
                  preload="auto"
                  controlsList="nopictureinpicture"
                    disablepictureinpicture
                    picture-in-picture="false"

                  data-project="H R Block"
                  data-hashnav="#hrblock-lifes-uncertainties"
                  poster="../assets/optimized/09-hrblock-life-uncertainties-compressed.jpg"
                  >
                  <source src="../assets/optimized/full/hrblock-life-uncertainties-compressed-full.mp4" type="video/mp4">
              </video>
            </li>
            <li data-splide-hash="#lenovo-thinkpad-mountain" class="section splide__slide">  
                <div class="panel-overlay-text"><a href="https://specialprojectsgroup.xyz/"><i class="fa-sharp fa-regular fa-xmark fa-fw panel-overlay-x"></i></a></div>
                <video 
                    class="slider-video"
                    crossOrigin="anonymous" 
                    playsInline 
                    muted 
                    controls
                    preload="auto"
                    controlsList="nopictureinpicture"
                    disablepictureinpicture
                    picture-in-picture="false"

                    data-project="Lenovo Thinkpad Mountain"
                    data-hashnav="#lenovo-thinkpad-mountain"
                    poster="../assets/optimized/08-lenovo-thinkpad-mountain-compressed.jpg"
                    >
                    <source src="../assets/optimized/full/lenovo-thinkpad-mountain-compressed-full.mp4" type="video/mp4">
                </video>
            </li>
            <li data-splide-hash="#flip-and-fold" class="section splide__slide">
                <div class="panel-overlay-text"><a href="https://specialprojectsgroup.xyz/"><i class="fa-sharp fa-regular fa-xmark fa-fw panel-overlay-x"></i></a></div>
                <video 
                    class="slider-video"
                    crossOrigin="anonymous" 
                    playsInline 
                    muted 
                    controls
                    data-project="Flip and Fold Launch"
                    data-hashnav="#flip-and-fold"
                    preload="auto"
                    controlsList="nopictureinpicture"
                    disablepictureinpicture
                    picture-in-picture="false"

                    poster="../assets/optimized/02-flip-and-fold-compressed.jpg">
                    <source src="../assets/optimized/full/flip-and-fold-launch-compressed-full.mp4" type="video/mp4" >
                </video>
            </li>
            <li data-splide-hash="#voices-of-galaxy" class="section splide__slide">
                <div class="panel-overlay-text"><a href="https://specialprojectsgroup.xyz/"><i class="fa-sharp fa-regular fa-xmark fa-fw panel-overlay-x"></i></a></div>
                <video 
                  class="slider-video"
                  crossOrigin="anonymous" 
                  playsInline 
                  muted 
                  data-project="Samsung Voices of Galaxy"
                  data-hashnav="#voices-of-galaxy"
                  controls
                  preload="auto"
                  controlsList="nopictureinpicture"
                  disablepictureinpicture
                  picture-in-picture="false"
                  poster="../assets/optimized/06-voices-of-galaxy-compressed.jpg">
                  <source src="../assets/optimized/full/voices-of-galaxy-compressed-full.mp4" type="video/mp4">
              </video>
            </li>
            <li data-splide-hash="#burn-book-case-study" class="section splide__slide">
                <div class="panel-overlay-text"><a href="https://specialprojectsgroup.xyz/"><i class="fa-sharp fa-regular fa-xmark fa-fw panel-overlay-x"></i></a></div>
                <video 
                  class="slider-video"
                  crossOrigin="anonymous" 
                  playsInline 
                  muted 
                  data-project="Last Prisoner Project x Field Trip"
                  data-hashnav="#burn-book-case-study"
                  controls
                  preload="auto"
                  controlsList="nopictureinpicture"
                    disablepictureinpicture
                    picture-in-picture="false"

                  poster="../assets/optimized/10-burn-book-compressed.jpg"
                  >
                  <source src="../assets/optimized/full/burnbook-casestudy-compressed-full.mp4" type="video/mp4">
              </video>
            </li>
            <li data-splide-hash="#apple-at-work" class="section splide__slide">
                <div class="panel-overlay-text"><a href="https://specialprojectsgroup.xyz/"><i class="fa-sharp fa-regular fa-xmark fa-fw panel-overlay-x"></i></a></div>
                <video 
                  class="slider-video"
                  crossOrigin="anonymous" 
                  playsInline 
                  muted 
                  data-project="Apple At Work"
                  data-hashnav="#apple-at-work"
                  controls
                  preload="auto"
                  controlsList="nopictureinpicture"
                    disablepictureinpicture
                    picture-in-picture="false"

                  poster="../assets/optimized/11-apple-at-work-compressed.jpg">
                  <source src="../assets/optimized/apple-at-work-compressed-full.mp4" type="video/mp4">
              </video>
            </li>
        </ul>
        <div class="prev--centering--div splide__arrows splide__arrows--ltr">
            <button class="prev splide__arrow splide__arrow--prev" type="button" aria-label="Previous slide" aria-controls="masterWrap-track"><i class="fa-duotone fa-solid fa-arrow-left"></i></button>
        </div>
        <div class="next--centering--div splide__arrows splide__arrows--ltr">
            <button class=" splide__arrow splide__arrow--next next" type="button" aria-label="Next slide" aria-controls="masterWrap-track"><i class="fa-duotone fa-solid fa-arrow-right"></i></button>
        </div>
        
    </section>
