

<!-- 

<section id="masterWrap" class="sticky-element half-height">
    <div class="track" >
        <ul class="track-flex">
         
            <li data-hashnav="#selfie-by-flip" class="panel-wide">
                <div class="panel-overlay-text">SAMSUNG&colon; SELFIE BY FLIP</div>
                <video 
                    class="slider-video"
                    picture-in-picture="false"
                    crossOrigin="anonymous" 
                    playsInline 
                    muted 
                    loop="true"
                    autoPlay 
                    controls
                    data-project="Selfie by Flip"
                    data-hashnav="#selfie-by-flip"
                    data-company="Samsung"
                    data-company-link="#selfie-by-flip"
                    preload="auto"
                    picture-in-picture="false"
                    poster="../assets/optimized/01-selfie-by-flip-compressed.jpg"> 
                    <source src="../assets/optimized/full/selfie-by-flip-compressed-full.mp4" type="video/mp4">
                </video>
            </li>
            <li data-hashnav="#food-mood" class="panel-wide" >  
                <div class="panel-overlay-text">COCA COLA&colon; FOOD MOOD</div>  
                <video 
                    class="slider-video"
                    picture-in-picture="false"
                    crossOrigin="anonymous" 
                    playsInline 
                    muted 
                    loop="true"
                    autoPlay 
                    controls
                    preload="auto"
                    picture-in-picture="false"
                    data-project="Coca Cola Food Mood"
                    data-hashnav="#coca-cola-food-mood"
                    poster="../assets/optimized/03-food-mood-compressed.jpg">
                    <source src="../assets/optimized/full/food-mood-compressed-full.mp4" type="video/mp4">
                </video>
            </li>
            <li data-hashnav="#fold-4-launch" class="panel-wide">
                <div class="panel-overlay-text">SAMSUNG&colon; GALAXY FOLD 4 LAUNCH</div>
                <video 
                    class="slider-video"
                    picture-in-picture="false"
                    crossOrigin="anonymous" 
                    playsInline 
                    muted 
                    loop="true"
                    autoPlay 
                    controls
                    preload="auto"
                    picture-in-picture="false"
                    data-project="Galaxy Fold 4 Launch"
                    data-hashnav="#fold-4-launch"
                    poster="../assets/optimized/04-galaxy-fold-4-compressed.jpg">
                <source src="../assets/optimized/full/galaxy-fold-4-launch-compressed-full.mp4" type="video/mp4">
                </video>
            </li>
            <li data-hashnav="#coca-cola-y3000" class="panel-wide">
                <div class="panel-overlay-text">COCA COLA&colon; Y3000 CASE FILM</div>
                <video 
                    class="slider-video"
                    picture-in-picture="false"
                    crossOrigin="anonymous" 
                    playsInline 
                    muted 
                    loop="true"
                    autoPlay 
                    controls
                    preload="auto"
                    picture-in-picture="false"
                    data-project="y3000 case study"
                    data-hashnav="#coca-cola-y3000"
                    poster="../assets/optimized/07-y3000-case-film-compressed.jpg">
                    <source src="../assets/optimized/full/y3000-case-film-compressed-full.mp4" type="video/mp4">
                </video>
            </li>
            <li data-hashnav="#tiny-type" class="panel-wide">
                <div class="panel-overlay-text"> SAMSUNG&colon; TINY TYPE</div>
                <video 
                  class="slider-video"
                  picture-in-picture="false"
                  crossOrigin="anonymous" 
                  playsInline 
                  muted 
                  loop="true"
                  autoPlay 
                  controls
                  preload="auto"
                  picture-in-picture="false"
                  data-project="Samsung Tiny Type"
                  data-hashnav="#tiny-type"
                  poster="../assets/optimized/05-samsung-tiny-type-compressed.jpg">
                  <source src="../assets/optimized/full/samsung-tiny-type-compressed-full.mp4" type="video/mp4">
                </video>
            </li>
            <li data-hashnav="#voices-of-galaxy" class="panel-wide">
                <div class="panel-overlay-text">SAMSUNG&colon; VOICES OF GALAXY</div>
                <video 
                  class="slider-video"
                  picture-in-picture="false"
                  crossOrigin="anonymous" 
                  playsInline 
                  muted 
                  loop="true"
                  autoPlay 
                  controls
                  preload="auto"
                  picture-in-picture="false"
                  data-project="Voices of Galaxy"
                  data-hashnav="#voices-of-galaxy"
                  poster="../assets/optimized/06-voices-of-galaxy-compressed.jpg">
                  <source src="../assets/optimized/full/voices-of-galaxy-compressed-full.mp4" type="video/mp4">
              </video>
            </li>
            <li data-hashnav="#hrblock-lifes-uncertainties" class="panel-wide">
                <div class="panel-overlay-text">H&AMP;R BLOCK&colon; LIFE'S UNCERTAINTIES</div>
                <video 
                  class="slider-video"
                  picture-in-picture="false"
                  crossOrigin="anonymous" 
                  playsInline 
                  muted 
                  loop="true"
                  autoPlay 
                  controls
                  preload="auto"
                  picture-in-picture="false"
                  data-project="H R Block"
                  data-hashnav="#hrblock-lifes-uncertainties"
                  poster="../assets/optimized/09-hrblock-life-uncertainties-compressed.jpg"
                  >
                  <source src="../assets/optimized/full/hrblock-life-uncertainties-compressed-full.mp4" type="video/mp4">
              </video>
            </li>
            <li data-hashnav="#lenovo-thinkpad-mountain" class="panel-wide">  
                <div class="panel-overlay-text">LENOVO&colon; THINKPAD MOUNTAIN</div>
                <video 
                    class="slider-video"
                    picture-in-picture="false"
                    crossOrigin="anonymous" 
                    playsInline 
                    muted 
                    loop="true"
                    autoPlay 
                    controls
                    preload="auto"
                    picture-in-picture="false"
                    data-project="Lenovo Thinkpad Mountain"
                    data-hashnav="#lenovo-thinkpad-mountain"
                    poster="../assets/optimized/08-lenovo-thinkpad-mountain-compressed.jpg"
                    >
                    <source src="../assets/optimized/full/lenovo-thinkpad-mountain-compressed-full.mp4" type="video/mp4">
                </video>
            </li>
            <li data-hashnav="#flip-and-fold" class="panel-wide">
                <div class="panel-overlay-text">SAMSUNG&colon; FLIP &amp; FOLD</div>
                <video 
                    class="slider-video"
                    picture-in-picture="false"
                    crossOrigin="anonymous" 
                    playsInline 
                    muted 
                    loop="true"
                    autoPlay 
                    controls
                    data-project="Flip and Fold Launch"
                    data-hashnav="#flip-and-fold"
                    preload="auto"
                    picture-in-picture="false"
                    poster="../assets/optimized/02-flip-and-fold-compressed.jpg">
                    <source src="../assets/optimized/full/flip-and-fold-launch-compressed-full.mp4" type="video/mp4" >
                </video>
            </li>
            <li data-hashnav="#voices-of-galaxy" class="panel-wide">
                <div class="panel-overlay-text">SAMSUNG&colon; VOICES OF GALAXY</div>
                <video 
                  class="slider-video"
                  picture-in-picture="false"
                  crossOrigin="anonymous" 
                  playsInline 
                  muted 
                  loop="true"
                  data-project="Samsung Voices of Galaxy"
                  data-hashnav="#voices-of-galaxy"
                  controls
                  preload="auto"
                  picture-in-picture="false"
                  poster="../assets/optimized/06-voices-of-galaxy-compressed.jpg">
                  <source src="../assets/optimized/full/voices-of-galaxy-compressed-full.mp4" type="video/mp4">
              </video>
            </li>
            <li data-hashnav="#burn-book-case-study" class="panel-wide">
                <div class="panel-overlay-text">Last Prisoner Project x Field Trip &colon; BURN BOOK</div>
                <video 
                  class="slider-video"
                  picture-in-picture="false"
                  crossOrigin="anonymous" 
                  playsInline 
                  muted 
                  loop="true"
                  data-project="Last Prisoner Project x Field Trip"
                  data-hashnav="#burn-book-case-study"
                  controls
                  preload="auto"
                  picture-in-picture="false"
                  poster="../assets/optimized/10-burn-book-compressed.jpg"
                  >
                  <source src="../assets/optimized/full/burnbook-casestudy-compressed-full.mp4" type="video/mp4">
              </video>
            </li>
            <li data-hashnav="#apple-at-work" class="panel-wide">
                <div class="panel-overlay-text">Apple &colon; At Work</div>
                <video 
                  class="slider-video"
                  picture-in-picture="false"
                  crossOrigin="anonymous" 
                  playsInline 
                  muted 
                  loop="true"
                  data-project="Apple At Work"
                  data-hashnav="#apple-at-work"
                  controls
                  preload="auto"
                  picture-in-picture="false"
                  poster="../assets/optimized/11-apple-at-work-compressed.jpg">
                  <source src="../assets/optimized/apple-at-work-compressed-full.mp4" type="video/mp4">
              </video>
            </li>
        </ul>
    
    </div>
    </section> -->




<section id="masterWrap" class="horizontal">
    <div class="gallery" >
        <ul class="cards">
         
            <li data-hashnav="#selfie-by-flip" class="section">
                <div class="panel-overlay-text"><a href="https://specialprojectsgroup.xyz/"><i class="fa-sharp fa-regular fa-xmark fa-fw panel-overlay-x"></i></a></div>
                <video 
                    class="slider-video"
                    picture-in-picture="false"
                    crossOrigin="anonymous" 
                    playsInline 
                    muted 
                    loop="true"
                    autoPlay 
                    controls
                    data-project="Selfie by Flip"
                    data-hashnav="#selfie-by-flip"
                    data-company="Samsung"
                    data-company-link="#selfie-by-flip"
                    preload="auto"
                    picture-in-picture="false"
                    poster="../assets/optimized/01-selfie-by-flip-compressed.jpg"> 
                    <source src="../assets/optimized/full/selfie-by-flip-compressed-full.mp4" type="video/mp4">
                </video>
            </li>
            <li data-hashnav="#food-mood" class="section" >  
                <div class="panel-overlay-text"><a href="https://specialprojectsgroup.xyz/"><i class="fa-sharp fa-regular fa-xmark fa-fw panel-overlay-x"></i></a></div>  
                <video 
                    class="slider-video"
                    picture-in-picture="false"
                    crossOrigin="anonymous" 
                    playsInline 
                    muted 
                    loop="true"
                    autoPlay 
                    controls
                    preload="auto"
                    picture-in-picture="false"
                    data-project="Coca Cola Food Mood"
                    data-hashnav="#coca-cola-food-mood"
                    poster="../assets/optimized/03-food-mood-compressed.jpg">
                    <source src="../assets/optimized/full/food-mood-compressed-full.mp4" type="video/mp4">
                </video>
            </li>
            <li data-hashnav="#fold-4-launch" class="section">
                <div class="panel-overlay-text"><a href="https://specialprojectsgroup.xyz/"><i class="fa-sharp fa-regular fa-xmark fa-fw panel-overlay-x"></i></a></div>
                <video 
                    class="slider-video"
                    picture-in-picture="false"
                    crossOrigin="anonymous" 
                    playsInline 
                    muted 
                    loop="true"
                    autoPlay 
                    controls
                    preload="auto"
                    picture-in-picture="false"
                    data-project="Galaxy Fold 4 Launch"
                    data-hashnav="#fold-4-launch"
                    poster="../assets/optimized/04-galaxy-fold-4-compressed.jpg">
                <source src="../assets/optimized/full/galaxy-fold-4-launch-compressed-full.mp4" type="video/mp4">
                </video>
            </li>
            <li data-hashnav="#coca-cola-y3000" class="section">
                <div class="panel-overlay-text"><a href="https://specialprojectsgroup.xyz/"><i class="fa-sharp fa-regular fa-xmark fa-fw panel-overlay-x"></i></a></div>
                <video 
                    class="slider-video"
                    picture-in-picture="false"
                    crossOrigin="anonymous" 
                    playsInline 
                    muted 
                    loop="true"
                    autoPlay 
                    controls
                    preload="auto"
                    picture-in-picture="false"
                    data-project="y3000 case study"
                    data-hashnav="#coca-cola-y3000"
                    poster="../assets/optimized/07-y3000-case-film-compressed.jpg">
                    <source src="../assets/optimized/full/y3000-case-film-compressed-full.mp4" type="video/mp4">
                </video>
            </li>
            <li data-hashnav="#tiny-type" class="section">
                <div class="panel-overlay-text"><a href="https://specialprojectsgroup.xyz/"><i class="fa-sharp fa-regular fa-xmark fa-fw panel-overlay-x"></i></a></div>
                <video 
                  class="slider-video"
                  picture-in-picture="false"
                  crossOrigin="anonymous" 
                  playsInline 
                  muted 
                  loop="true"
                  autoPlay 
                  controls
                  preload="auto"
                  picture-in-picture="false"
                  data-project="Samsung Tiny Type"
                  data-hashnav="#tiny-type"
                  poster="../assets/optimized/05-samsung-tiny-type-compressed.jpg">
                  <source src="../assets/optimized/full/samsung-tiny-type-compressed-full.mp4" type="video/mp4">
                </video>
            </li>
            <li data-hashnav="#voices-of-galaxy" class="section">
                <div class="panel-overlay-text"><a href="https://specialprojectsgroup.xyz/"><i class="fa-sharp fa-regular fa-xmark fa-fw panel-overlay-x"></i></a></div>
                <video 
                  class="slider-video"
                  picture-in-picture="false"
                  crossOrigin="anonymous" 
                  playsInline 
                  muted 
                  loop="true"
                  autoPlay 
                  controls
                  preload="auto"
                  picture-in-picture="false"
                  data-project="Voices of Galaxy"
                  data-hashnav="#voices-of-galaxy"
                  poster="../assets/optimized/06-voices-of-galaxy-compressed.jpg">
                  <source src="../assets/optimized/full/voices-of-galaxy-compressed-full.mp4" type="video/mp4">
              </video>
            </li>
            <li data-hashnav="#hrblock-lifes-uncertainties" class="section">
                <div class="panel-overlay-text"><a href="https://specialprojectsgroup.xyz/"><i class="fa-sharp fa-regular fa-xmark fa-fw panel-overlay-x"></i></a></div>
                <video 
                  class="slider-video"
                  picture-in-picture="false"
                  crossOrigin="anonymous" 
                  playsInline 
                  muted 
                  loop="true"
                  autoPlay 
                  controls
                  preload="auto"
                  picture-in-picture="false"
                  data-project="H R Block"
                  data-hashnav="#hrblock-lifes-uncertainties"
                  poster="../assets/optimized/09-hrblock-life-uncertainties-compressed.jpg"
                  >
                  <source src="../assets/optimized/full/hrblock-life-uncertainties-compressed-full.mp4" type="video/mp4">
              </video>
            </li>
            <li data-hashnav="#lenovo-thinkpad-mountain" class="section">  
                <div class="panel-overlay-text"><a href="https://specialprojectsgroup.xyz/"><i class="fa-sharp fa-regular fa-xmark fa-fw panel-overlay-x"></i></a></div>
                <video 
                    class="slider-video"
                    picture-in-picture="false"
                    crossOrigin="anonymous" 
                    playsInline 
                    muted 
                    loop="true"
                    autoPlay 
                    controls
                    preload="auto"
                    picture-in-picture="false"
                    data-project="Lenovo Thinkpad Mountain"
                    data-hashnav="#lenovo-thinkpad-mountain"
                    poster="../assets/optimized/08-lenovo-thinkpad-mountain-compressed.jpg"
                    >
                    <source src="../assets/optimized/full/lenovo-thinkpad-mountain-compressed-full.mp4" type="video/mp4">
                </video>
            </li>
            <li data-hashnav="#flip-and-fold" class="section">
                <div class="panel-overlay-text"><a href="https://specialprojectsgroup.xyz/"><i class="fa-sharp fa-regular fa-xmark fa-fw panel-overlay-x"></i></a></div>
                <video 
                    class="slider-video"
                    picture-in-picture="false"
                    crossOrigin="anonymous" 
                    playsInline 
                    muted 
                    loop="true"
                    autoPlay 
                    controls
                    data-project="Flip and Fold Launch"
                    data-hashnav="#flip-and-fold"
                    preload="auto"
                    picture-in-picture="false"
                    poster="../assets/optimized/02-flip-and-fold-compressed.jpg">
                    <source src="../assets/optimized/full/flip-and-fold-launch-compressed-full.mp4" type="video/mp4" >
                </video>
            </li>
            <li data-hashnav="#voices-of-galaxy" class="section">
                <div class="panel-overlay-text"><a href="https://specialprojectsgroup.xyz/"><i class="fa-sharp fa-regular fa-xmark fa-fw panel-overlay-x"></i></a></div>
                <video 
                  class="slider-video"
                  picture-in-picture="false"
                  crossOrigin="anonymous" 
                  playsInline 
                  muted 
                  loop="true"
                  data-project="Samsung Voices of Galaxy"
                  data-hashnav="#voices-of-galaxy"
                  controls
                  preload="auto"
                  picture-in-picture="false"
                  poster="../assets/optimized/06-voices-of-galaxy-compressed.jpg">
                  <source src="../assets/optimized/full/voices-of-galaxy-compressed-full.mp4" type="video/mp4">
              </video>
            </li>
            <li data-hashnav="#burn-book-case-study" class="section">
                <div class="panel-overlay-text"><a href="https://specialprojectsgroup.xyz/"><i class="fa-sharp fa-regular fa-xmark fa-fw panel-overlay-x"></i></a></div>
                <video 
                  class="slider-video"
                  picture-in-picture="false"
                  crossOrigin="anonymous" 
                  playsInline 
                  muted 
                  loop="true"
                  data-project="Last Prisoner Project x Field Trip"
                  data-hashnav="#burn-book-case-study"
                  controls
                  preload="auto"
                  picture-in-picture="false"
                  poster="../assets/optimized/10-burn-book-compressed.jpg"
                  >
                  <source src="../assets/optimized/full/burnbook-casestudy-compressed-full.mp4" type="video/mp4">
              </video>
            </li>
            <li data-hashnav="#apple-at-work" class="section">
                <div class="panel-overlay-text"><a href="https://specialprojectsgroup.xyz/"><i class="fa-sharp fa-regular fa-xmark fa-fw panel-overlay-x"></i></a></div>
                <video 
                  class="slider-video"
                  picture-in-picture="false"
                  crossOrigin="anonymous" 
                  playsInline 
                  muted 
                  loop="true"
                  data-project="Apple At Work"
                  data-hashnav="#apple-at-work"
                  controls
                  preload="auto"
                  picture-in-picture="false"
                  poster="../assets/optimized/11-apple-at-work-compressed.jpg">
                  <source src="../assets/optimized/apple-at-work-compressed-full.mp4" type="video/mp4">
              </video>
            </li>
        </ul>
    
    </div>
    </section>
