


<section id="masterWrap">
<div class="gallery" >
	<ul class="cards">
     
		<li data-hashnav="#selfie-by-flip" id="one" class="section active">
            <div class="panel-overlay-text">SAMSUNG&colon; SELFIE BY FLIP</div>
            <video 
                class="slider-video"
                picture-in-picture="false"
                id="video" 
                crossOrigin="anonymous" 
                playsInline 
                muted 
                loop="true"
                autoPlay 
                controls
                data-project="Flip and Fold Launch"
                data-hashnav="#selfie-by-flip"
                preload="auto"
                picture-in-picture="false"
                poster="../assets/optimized/01-selfie-by-flip.jpg"> 
                <source src="../assets/optimized/full/selfie-by-flip-compressed-full.mp4" type="video/mp4">
            </video>
        </li>
		<li data-hashnav="#food-mood" id="two" class="section" >  
            <div class="panel-overlay-text">COCA COLA&colon; FOOD MOOD</div>  
            <video 
                class="slider-video"
                picture-in-picture="false"
                crossOrigin="anonymous" 
                playsInline 
                muted 
                loop="true"
                autoPlay 
                controls
                preload="auto"
                picture-in-picture="false"
                data-project="Coca Cola Food Mood"
                data-hashnav="#food-mood"
                poster="../assets/optimized/03-food-mood.jpg">
                <source src="../assets/optimized/full/food-mood-compressed-full.mp4" type="video/mp4">
            </video>
        </li>
		<li data-hashnav="#fold-4-launch" id="three" class="section">
            <div class="panel-overlay-text">SAMSUNG&colon; GALAXY FOLD 4 LAUNCH</div>
            <video 
                class="slider-video"
                picture-in-picture="false"
                crossOrigin="anonymous" 
                playsInline 
                muted 
                loop="true"
                autoPlay 
                controls
                preload="auto"
                picture-in-picture="false"
                data-project="Galaxy Fold 4 Launch"
                data-hashnav="#fold-4-launch"
                poster="../assets/optimized/04-galaxy-fold-4.jpg">
            <source src="../assets/optimized/full/galaxy-fold-4-launch-compressed-full.mp4" type="video/mp4">
            </video>
        </li>
		<li data-hashnav="#coca-cola-y3000" id="four" class="section">
            <div class="panel-overlay-text">COCA COLA&colon; Y3000 CASE FILM</div>
            <video 
                class="slider-video"
                picture-in-picture="false"
                crossOrigin="anonymous" 
                playsInline 
                muted 
                loop="true"
                autoPlay 
                controls
                preload="auto"
                picture-in-picture="false"
                data-project="y3000 case study"
                data-hashnav="#coca-cola-y3000"
                poster="../assets/optimized/07-y3000-case-film.jpg">
                <source src="../assets/optimized/full/y3000-case-film-compressed-full.mp4" type="video/mp4">
            </video>
        </li>
		<li data-hashnav="#tiny-type" id="five" class="section">
            <div class="panel-overlay-text"> SAMSUNG&colon; TINY TYPE</div>
            <video 
              class="slider-video"
              picture-in-picture="false"
              crossOrigin="anonymous" 
              playsInline 
              muted 
              loop="true"
              autoPlay 
              controls
              preload="auto"
              picture-in-picture="false"
              data-project="Samsung Tiny Type"
              data-hashnav="#samsung-tiny-type"
              poster="../assets/optimized/05-samsung-tiny-type.jpg">
              <source src="../assets/optimized/full/samsung-tiny-type-compressed-full.mp4" type="video/mp4">
            </video>
        </li>
		<li data-hashnav="#voices-of-galaxy" id="six" class="section">
            <div class="panel-overlay-text">SAMSUNG&colon; VOICES OF GALAXY</div>
            <video 
              class="slider-video"
              picture-in-picture="false"
              crossOrigin="anonymous" 
              playsInline 
              muted 
              loop="true"
              autoPlay 
              controls
              preload="auto"
              picture-in-picture="false"
              data-project="Voices of Galaxy"
              data-hashnav="#voices-of-galaxy"
              poster="../assets/optimized/06-voices-of-galaxy.jpg">
              <source src="../assets/optimized/full/voices-of-galaxy-compressed-full.mp4" type="video/mp4">
          </video>
        </li>
		<li data-hashnav="#hrblock" id="seven" class="section">
            <div class="panel-overlay-text">H&AMP;R BLOCK&colon; LIFE'S UNCERTAINTIES</div>
            <video 
              class="slider-video"
              picture-in-picture="false"
              crossOrigin="anonymous" 
              playsInline 
              muted 
              loop="true"
              autoPlay 
              controls
              preload="auto"
              picture-in-picture="false"
              data-project="H R Block"
              data-hashnav="#hrblock">
              <source src="../assets/optimized/full/hrblock-life-uncertainties-compressed-full.mp4" type="video/mp4">
          </video>
        </li>
		<li data-hashnav="#lenovo-thinkpad" id="eight" class="section">  
            <div class="panel-overlay-text">LENOVO&colon; THINKPAD MOUNTAIN</div>
            <video 
                class="slider-video"
                picture-in-picture="false"
                crossOrigin="anonymous" 
                playsInline 
                muted 
                loop="true"
                autoPlay 
                controls
                preload="auto"
                picture-in-picture="false"
                data-project="Lenovo Thinkpad"
                data-hashnav="#lenovo-thinkpad">
                <source src="../assets/optimized/full/lenovo-thinkpad-mountain-compressed-full.mp4" type="video/mp4">
            </video>
        </li>
		<li data-hashnav="#flip-and-fold" id="nine" class="section">
            <div class="panel-overlay-text">SAMSUNG&colon; FLIP &amp; FOLD</div>
            <video 
                class="slider-video"
                picture-in-picture="false"
                crossOrigin="anonymous" 
                playsInline 
                muted 
                loop="true"
                autoPlay 
                controls
                data-project="Flip and Fold Launch"
                data-hashnav="#flip-and-fold"
                preload="auto"
                picture-in-picture="false"
                poster="../assets/optimized/02-flip-and-fold.jpg">
                <source src="../assets/optimized/full/flip-and-fold-launch-compressed-full.mp4" type="video/mp4" >
            </video>
        </li>
		<li data-hashnav="#voices-of-galaxy" id="ten" class="section">
            <div class="panel-overlay-text">SAMSUNG&colon; VOICES OF GALAXY</div>
            <video 
              class="slider-video"
              picture-in-picture="false"
              crossOrigin="anonymous" 
              playsInline 
              muted 
              loop="true"
              data-project="Samsung Voices of Galaxy"
              data-hashnav="#voices-of-galaxy"
              controls
              preload="auto"
              picture-in-picture="false"
              poster="../assets/optimized/06-voices-of-galaxy.jpg">
              <source src="../assets/optimized/full/voices-of-galaxy-compressed-full.mp4" type="video/mp4">
          </video>
        </li>
		<li data-hashnav="#burn-book-case-study" id="eleven" class="section">
            <div class="panel-overlay-text">Last Prisoner Project x Field Trip &colon; BURN BOOK</div>
            <video 
              class="slider-video"
              picture-in-picture="false"
              crossOrigin="anonymous" 
              playsInline 
              muted 
              loop="true"
              data-project="Last Prisoner Project x Field Trip"
              data-hashnav="#burn-book-case-study"
              controls
              preload="auto"
              picture-in-picture="false"
              poster="../assets/optimized/10-burn-book-compressed.jpg"
              >
              <source src="../assets/optimized/full/burnbook-casestudy-compressed-full.mp4" type="video/mp4">
          </video>
        </li>
		<li data-hashnav="#apple-work" id="twelve" class="section">
            <div class="panel-overlay-text">Apple &colon; At Work</div>
            <video 
              class="slider-video"
              picture-in-picture="false"
              crossOrigin="anonymous" 
              playsInline 
              muted 
              loop="true"
              data-project="Last Prisoner Project x Field Trip"
              data-hashnav="#apple-work"
              controls
              preload="auto"
              picture-in-picture="false"
              poster="../assets/optimized/11-apple-at-work-compressed.jpg">
              <source src="../assets/optimized/apple-at-work-compressed-clipped.mp4" type="video/mp4">
          </video>
        </li>
	</ul>

	<!-- <div class="actions">
		<button class="prev">Prev</button>
		<button class="next">Next</button>
	</div> -->
</div>
</section>
<nav 
style="
  display: none;
  ">
    <a href="#selfie-by-flip" class="thumbtext">flip</a>
    <a href="#burn-book-case-study" class="thumbtext">burnbook</a>
    <a href="#apple-work" class="thumbtext">apple</a>
    <a href="#voices-of-galaxy" class="thumbtext">voices</a>
    <a href="#lenovo-thinkpad" class="thumbtext">leonovo</a>
    <!-- <a href="#six" class="thumbtext">Section 1</a>
    <a href="#seven" class="thumbtext">Section 2</a>
    <a href="#eight" class="thumbtext">Section 3</a>
    <a href="#nine" class="thumbtext">Section 4</a>
    <a href="#ten" class="thumbtext">Section 5</a>
    <a href="#eleven" class="thumbtext">Section 4</a>
    <a href="#twelve" class="thumbtext">Section 5</a> -->
  </nav>
<div class="maskingintro--container">
  <div class="maskingintro--element"></div>
  <div class="maskingintro--element"></div>
  <div class="maskingintro--element"></div>
  <div class="maskingintro--element"></div>
  <div class="maskingintro--element"></div>
  <div class="maskingintro--element"></div>
  <div class="maskingintro--element"></div>
  <div class="maskingintro--element"></div>
  <div class="maskingintro--element"></div>
  <div class="maskingintro--element"></div>
 </div>
