<div id="page-wrap">
  <div id="canvas"></div>

  <div id="content">
    <!-- notice this plane does not contain any image -->
    <div class="flex-wrapper async-textures">
      <span>Click me !</span>
    </div>
  </div>
  <div class="curtain-wrapper">
    <div class="curtain">
      <video src="../assets/optimized/flip-and-fold-compressed-clipped.mp4" crossorigin="" data-sampler="simplePlaneVideoTexture"
      class="video--item video--item8"
                data-project="Thinkpad Mountain"
                data-hashnav="#lenovo-thinkpad-mountain"
                id="video" 
                crossOrigin="anonymous" 
                data-name="Case Film"
                playsInline 
                muted 
                loop="true"
                autoPlay
                preload="auto"
                picture-in-picture="false"
                controls="controls"
      ></video>
    </div>
  </div>

  <div id="enter-site-wrapper" class="flex-wrapper">
    <span id="enter-site">
      Click to enter site<br />
      <small>(on mobile devices we can't start playing videos without a user action)</small>
    </span>
  </div>

  <div id="async-textures-wrapper">
    <!-- we will use those images as textures -->
            <div class="image-wrapper">
                <img src="../assets/masks/wave01.jpg" crossorigin="" data-sampler="firstTexture" />
            </div>
            <div class="image-wrapper">
        <img src="../assets/masks/fiber01.jpg" crossorigin="" data-sampler="secondTexture" />
            </div>
  </div>


  <div id="load-images-wrapper" class="flex-wrapper">
    <span id="load-images">async btnt</span>
  </div>

</div>
