// @forward './style.scss';
// @use './style.scss' as *;
@use './helpers.scss' as *;
$play-button-background-color: #ccc !default;
$play-button-color: #000 !default;
$play-button-width: 40px !default;
$play-button-height: 40px !default;
$play-button-border-radius: 50% !default;
$play-icon-width: 9px !default;
$play-icon-height: 17px !default;
$play-button-transition: opacity .1s linear !default;

//// resets 
@font-face {
  font-family: "Manrope";
  src: url('../../assets/fonts/Manrope-VariableFont_wght.ttf');
  font-display: swap;

}
// html.lenis, html.lenis body {
//   height: auto;
// }

// .lenis.lenis-smooth {
//   scroll-behavior: auto !important;
// }

// .lenis.lenis-smooth [data-lenis-prevent] {
//   overscroll-behavior: contain;
// }

// .lenis.lenis-stopped {
//   overflow: hidden;
// }

// .lenis.lenis-smooth iframe {
//   pointer-events: none;
// }
.loaded {
  z-index: 998;
  backdrop-filter: blur(5px);
  background: #000000c2;
  flex-direction: column;
  width: 100%;
  height: 100%;

}
.maskingintro--container {
  position: absolute;
  // width: 100vw;
  // height: 100vh;
  width: 100%;
  height:100%;
  display: flex;
  z-index: 9999;
  pointer-events: none;
  visibility: hidden;
  overflow: hidden;
}
.maskingintro--element {
  width: 100%;
  height:100%;
  background: #000000;
  opacity: 1;
}
* {
	box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
  outline: none;
  -webkit-tap-highlight-color: none;
}
a:hover {
  outline: none;
  -webkit-tap-highlight-color: none;
}
a:focus {
  outline: none;
  background: lightgrey;
  -webkit-tap-highlight-color: transparent;
}
a:focus:not(:focus-visible) {
  background: transparent;
}
a:focus-visible {
  background: transparent;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Manrope";
}
.topbar--global a {
  pointer-events: auto;
}
// header {
//   pointer-events: none;
//   position: absolute;
//   top:0;
//   left:0;
//   z-index: 999;
//   max-width: 1400px;
//   margin:0;
// }
.topbar--global {
    pointer-events: none;
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
    width: 100%;
}
.topbar--svg {
  width: 150px;
  height: 125px;
  pointer-events: all;
  margin-left:15px;
  @media (max-width: 768px) {
    width: 120px;
    height: 105px;
  }
}
// html.lenis, html.lenis body {
//   // height: auto;
// }

// .lenis.lenis-smooth {
//   scroll-behavior: auto !important;
// }

// .lenis.lenis-smooth [data-lenis-prevent] {
//   // overscroll-behavior: contain;
// }

// .lenis.lenis-stopped {
//   overflow: hidden;
// }

// .lenis.lenis-smooth iframe {
//   pointer-events: none;
// }
// :root {
//     --set-margin: calc((100vw - 70rem) / 2);
//     --set-width: auto;
//     --set-gap: 2rem;
//     --velocity: 0;
//     --set-dev-border:1px solid aliceblue;
//     --set-dev-border-2:1px solid rgb(170, 31, 221);
//   }
  html {
    background: black;
  }
  body {
    // background-color: transparent;
    // background: url('../../assets/images/theatre.jpg') top center no-repeat;
    // background-image: url('../../assets/images/theatre.jpg?as=webp') ;
    // // transform: scale(1.03);
    // background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    // backdrop-filter: blur(10px);
    // background-size: cover;
    color: white;
    font-size: 1.1em;
    font-family: "Manrope", sans-serif;
    font-display: swap;
    // overflow-y: hidden;
    // background: #111;
    // min-height: 100dvh;
    margin: 0;
    padding: 0;
    background-color: #000 !important;
    // --velocity: 0;
    @media (max-width: 768px) {
        // overflow-y: scroll;
        // overflow-x: scroll;
        // min-height: 50dvh;
    }
  }

  .proj--background--grid__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    // width: 100vw;
    // height: 100vh;
    width: 100%;
   height: 100%;
    @media (max-width: 768px) {
  height: 100%;
      // overflow-y: scroll;
      // overflow-x: scroll;
      // max-height: 50dvh;
  }
    // border: 2px solid blue;
  }
  .mr--maskerton {
    position: absolute;
    background: #000000bb;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
  }
  .proj--background--grid {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    display: grid;
    grid-template: 
    "     .      .      .      .      . image1 image1 image1     . image3 image3      ." 12.5%
    "     . image2 image2 image2      .      .     .      .      . image3 image3      ." 12.5%
    "     . image2 image2 image2      .      .     . image5 image5 image5      .      ." 12.5%
    "     .      .      . image9 image9 image9     . image5 image5 image5 image8 image8" 12.5%
    "image6 image6      . image9 image9 image9     . image5 image5 image5 image8 image8" 12.5%
    "image6 image6      . image9 image9 image9     . image7 image7 image7      .      ." 12.5%
    "     .      . image4 image4 image4 image4     . image7 image7 image7      .      ." 12.5%
    "     .      . image4 image4 image4 image4     . image7 image7 image7      .      ." 12.5% / 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%
    ;
    @media (min-width: 1624px) {}
    @media (max-width: 1024px) {
      grid-template: 
    "     .      .      .      .      . image5 image5 image5      .      .      .      ." 8.33%
    "     . image1 image1 image1      .      .      .      .      . image3 image3 image3" 8.33%
    "     . image1 image1 image1      .      .      .      .      . image3 image3 image3" 8.33%
    "     .      .      .      .      . image2 image2 image2      . image3 image3 image3" 8.33%
    "image6 image6 image6 image6      . image2 image2 image2      .      .      .      ." 8.33%
    "image6 image6 image6 image6      . image2 image2 image2      .      .      .      ." 8.33%
    "image6 image6 image6 image6      . image2 image2 image2 image8 image8 image8 image8" 8.33%
    "     .      . image9 image9 image9 image9      .      . image8 image8 image8 image8" 8.33%
    "     .      . image9 image9 image9 image9      .      . image8 image8 image8 image8" 8.33%
    "     .      . image9 image9 image9 image9      . image7 image7 image7 image7      ." 8.33%
    "     . image4 image4 image4 image4 image4      . image7 image7 image7 image7      ." 8.33%
    "     . image4 image4 image4 image4 image4      . image7 image7 image7 image7      ." 8.33% / 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%
    ;
    }
    @media (max-width: 768px) {
      position: relative;
      width: 275%;
      grid-template: 
      "     .      .      .      .      .      .      .      .      .      .      .      .      .      .      ." 105px
      "image2 image2 image2      .      .      .      .      . image3 image3 image3      . image9 image9 image9" 10%
      "image2 image2 image2      . image1 image1 image1      . image3 image3 image3      . image9 image9 image9" 10%
      "image2 image2 image2      . image1 image1 image1      .      .      .      .      . image9 image9 image9" 10%
      "     .      .      .      .      .      .      .      .      . image7 image7 image7      .      .      ." 10%
      "     . image6 image6 image6      .      .      .      .      . image7 image7 image7      .      .      ." 10%
      "     . image6 image6 image6      . image5 image5 image5      . image7 image7 image7      .      .      ." 10%
      "     .      .      .      .      . image5 image5 image5      .      . image8 image8 image8 image8      ." 10%
      "image4 image4 image4 image4      . image5 image5 image5      .      . image8 image8 image8 image8      ." 10%
      "image4 image4 image4 image4      .      .      .      .      .      . image8 image8 image8 image8      ." 10% / 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14%
      ;
    }
  }
  .proj--image--wrapper--div {
    position: relative;
    align-items: center;
    width: 100%;
    margin: 0;
    display: grid;
    cursor: pointer;
    will-change: transform;
    box-sizing: content-box; 
    height: fit-content; //need for height to stay consistent
    @media (max-width: 768px) {
      aspect-ratio: 16 / 9;
      height: 100%;
      align-items: center;
    }
  }  
  .proj--hidden--image--wrapper--div {
    display: none;
    pointer-events: none;
    width: 0;
  }
  .proj--image {
    width: 100%;
    min-width: 1px;
    position: relative;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
    display: grid;
    box-sizing: content-box;  
    height: fit-content; //need for height to stay consistent
    @media (max-width: 768px) {
      align-items: center;
      justify-items: center;
      aspect-ratio: 16 / 9;
      height: 100%;
      align-items: center;
    }
  }
  .hidden--proj--image {
    display: none;
    pointer-events: none;
    width: 0;
  }

  .image-pos-1 { 
    grid-area: image1;
    margin-top:-70px;
    @media (max-width: 1024px) {
      margin: 0;
    }
    @media (max-width: 768px) {}
    @media (max-width: 480px) {}
  }
  .image--item1 {
    @media (min-width: 2000px) {
      max-width: 70%;
    }
    @media (max-width: 1024px) {
      width: 110%;
    }
  }
  .image-pos-2 { 
    grid-area: image2;
    @media (max-width: 1024px) {
      margin: 0;
      align-self: center;
    }
  }
  .image--item2 {
    @media (min-width: 2000px) {
      max-width: 60%;
    }
    @media (max-width: 1024px) {
      margin-bottom: 70px;
    }
    @media (max-width: 768px) {
      margin: 0;
    }
  }
  .image-pos-3 { 
    grid-area: image3;
    align-self: center;
  }
  .image--item3 {
    @media (min-width: 2000px) {
      max-width: 80%;
    }
  }
  .image-pos-4 { 
    grid-area: image4;
    margin-top: 10px;
    margin-left: 40px;
    @media (max-width: 1024px) {
      margin: 0;
    }
  }
  .image--item4 {
    max-width: 70%;
    @media (min-width: 2000px) {
      max-width: 52%;
    }
    @media (max-width: 768px) {
      max-width: unset;
    }
  }
  .image-pos-5 { 
    grid-area: image5;
    margin-top: 20px;
    @media (max-width: 1024px) {
      align-self: center;
      margin: 0;
    }
  }
  .image--item5 {
    @media (min-width: 2000px) {
      max-width: 80%;
    }
  }
  .image-pos-6 { 
    grid-area: image6;
  }
  .image--item6 {
    @media (min-width: 2000px) {
      max-width: 80%;
    }
    @media (max-width: 768px) {
      width: 115%;
      margin:0;
    }
  }
  .image-pos-7 { 
    grid-area: image7;
    margin-left: 70px;
    @media (max-width: 1024px) {
      margin: 0;
      align-self: center;
    }
  }
  .image--item7 {
    @media (min-width: 2000px) {
      margin-top: 50px;
      max-width: 73%;
    }
  }
  .image-pos-8 { 
    grid-area: image8;
    margin-left: 40px;
    @media (min-width: 2000px) {
      max-width: 100%;
      margin-left: var(--half-column-distance);
    }
    @media (max-width: 1024px) {
      margin-top: 35px;
    }
    @media (max-width: 768px) {
      margin: 0;
    }
  }
  .image--item8 {
    height: 190px;
    width: auto;
    @media (min-width: 2000px) {
      max-width: 100%;
      height:220px;
    }
    @media (max-width: 1024px) {
      height: 150px;
    }
    @media (max-width: 768px) {
      height: unset;
      width: 85%;
      min-width: 1px;
    }
  }
  .image-pos-9 { 
    grid-area: image9;
    align-self: center;
    margin-right: var(--half-column-distance);
    @media (max-width: 1024px) {
      margin: 0;
    }
  }
  .image--item9 {
    @media (min-width: 2000px) {
      max-width: 85%;
    }
    @media (max-width: 768px) {
      width: 110%;
      margin:0;
    }
  }

// .sticky-element {
//   overflow: visible; /* Changed from hidden to allow content to extend */
//   position: relative;
//   // margin-inline: var(--set-margin);
// }

// .track {
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
//   width: max-content;
//   --velocity: 0;
//   // margin-inline: var(--set-margin);
//   gap: var(--set-gap);
//   height: 65vh; /* Matched with .track-flex */
//   flex: 0 0 auto;
// }

// .track-flex {
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
//   height: 65vh;
//   // margin-inline: var(--set-margin);
//   z-index: 9;
// }

// .panel-wide {
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   // width: 50vw;  gets cancelled out anyway
//   height: 80%;
//   overflow: hidden;
//   flex: 0 0 auto;
// }

// .slider-video {
//   aspect-ratio: 16 / 9;
//   position: absolute;
//   z-index: 99;
//   pointer-events: all;
//   position: absolute;
//   inset: 0;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   -o-object-fit: cover;
//   object-fit: cover;
//   -o-object-position: center;
//   object-position: center;
// }

.titleWrap {
  height: 30px;
  position: absolute;
  z-index: 20;
  bottom: 50px;
  left: 50%;
  overflow-y: hidden;
}
.panel-overlay-text {
  position: absolute;
  z-index:8888;
  width: 100%;
  height: 100%;
  padding: 0 2%;
  top: 0;
  left: 0;
  text-align: right;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  color: rgba(255,255,255,1);
  pointer-events: none;
  @media screen and (max-width:1068px){
    font-size: 2rem;
  }
  @media screen and (max-width:768px){
    font-size: 2rem;
  }
  @media screen and (max-width:414px) {
    font-size: 1rem;
  }
}
.panel-overlay-x {
  margin-top: 10px;
  margin-right: 5px;
  box-sizing: border-box;
  opacity: 0;
  pointer-events: all;
  @media screen and (min-width:2000px){
    margin-top: 15px;
    margin-right: 9px;
  }
  @media screen and (max-width:1068px){
    margin-top: 6px;
    margin-right: 4px;
  }
  @media screen and (max-width:768px){
    margin-top: 4px;
    margin-right: 2px;
  }
}
  #video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  #main-video {
    // max-width: 90%;
    // max-height: 90%;
    // transform: scale(0.8);
    // transition: transform 0.5s ease-in-out;
  }
  
  .video-visible {
    opacity: 1 !important;
  }
  
  .video-centered {
    // transform: scale(1) !important;
  }
  // .elements {
  //   width: 62.5rem;
  //   // width: calc(99.5vw / 10);
  //   display: flex;
  //   justify-content: center;
  //   gap: .25rem;
  //   position: absolute;
  //   bottom: -4.5rem;
  //   margin: 0 auto;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   .thumbs {
  //     position: relative;
  //     width: calc(99.5vw / 10);
  //     background: #2f2f2f;
  //     flex: 1;
  //     text-align: center;
  //     isolation: isolate;
  //     padding: .25rem;
  //     cursor: pointer;
  //   }
  //   .visible {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     bottom: 0;
  //     z-index: -1;
  //     width: 0;
  //     //height: .5rem;
  //     background: red;
  //   }
  // }
  
  // .lottie{
  //   width: 300px; height: 300px;
  //   position: absolute;
  //   top: 20%;
  //   top: 20%;
  //   right: 10%;
  //   opacity: 0;
  //   z-index: 100
  // }
// start new
.thumbtext {
  mix-blend-mode: difference;
  font-family: 'Manrope', sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  font-weight: 300;
  text-decoration: none;
  color:white;
}
.gallery {
  // position: absolute;
  // width: 100%;
  height: 600px;
  overflow: hidden;
  margin-top: 170px;
  @media screen and (max-width:768px) {
    // border:var(--set-dev-border-2);
    margin-top: 30dvh;
  }
}

.cards {
  position: absolute;
  width: 100%;
  height: 100%;
  // width: 70vw;
  // height: 100vh;
  // margin-left: 15vw;
  @media screen and (max-width:768px) {
    // width: 80vw;
    // margin-left: 10vw;
  }
  @media (min-aspect-ratio: 21/9) and (min-width: 2000px) {
    // width: 50vw;
    // margin-left: 25vw;
  }
}

.cards li {
  list-style: none;
  // padding: 20px;
  margin: 0;
  width: 100%;
  text-align: center;
  line-height: 1rem;
  font-size: 1rem;
  @media screen and (max-width:451px){
    width: auto;
    height: 100%;
    // max-height:18rem;
  }
  // background-color: #9d7cce;
  // border: 20px solid black;
  // position: absolute;
  // top: 0;
  // left: 0;
  // border-radius: 0.1rem;
}
.splide:not( .is-overflow ) .splide__list {
  justify-content: center;
}
.splide:not( .is-overflow ) .splide__slide:last-child {
  margin: 0 !important;
}
.splide__pagination {
  display: none;
}
// .gallery {
// 	position: absolute;
// 	width: 100%;
// 	height: 100vh;
// 	overflow: hidden;
//   @media screen and (max-width:768px) {
//     // border:var(--set-dev-border-2);
//   }
// }

// .cards {
// 	position: absolute;
// 	// width: 66.3rem;
// 	// height: 22rem;
//   // height: 48rem; //overkill maybe
// 	top: 20%;
// 	left: 10.2525%;
//   @media screen and (min-width:769px) and (max-width:1567px) {
//     top: 16%;
//     top:14%;
//     width: 43em;
//     height: 41rem;
//   }
//   @media screen and (min-width:415px) and (max-width:768px) {
//     top: 13%;
//     left: 10%;
//     // left: 6%;
//   }
//   @media screen and (max-width:414px) {
//     border:var(--set-dev-border-2);
//     top: 13%;
//     left: 14%;
    
//   }
//   @media screen and (min-width:1568px) and (max-width:8000px) {
//     left: 16.2525%;
//     width: 70.3rem;
//     height: 33rem;
//   }
// }

// .cards li {
// 	list-style: none;
// 	padding: 0;
// 	margin: 0;
// 	// width: 66.3rem;
// 	// height: 22rem;
//   width: 49em;
//   height: 48rem;
// 	text-align: center;
// 	line-height: 1rem;
// 	font-size: 2rem;
// 	background-color: #9d7cce;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	border-radius: 0.1rem;
//   @media screen and (min-width:769px) and (max-width:1567px) {
//     // left: 4.2525%;
//     // width: 33em;
//     // height: 38rem;
//     width: 37em;
//     height: 39rem;
//     // width: 21em;
//     // height: 23rem;
//   }
//   @media screen and (min-width:415px) and (max-width:768px) {
//     // border:var(--set-dev-border);
//     // width: 40.3rem;
//     width: 34.3rem;
//     height: 20rem;
//   }
//   @media screen and (max-width:414px) {
//     // border:var(--set-dev-border);
//     // width: 21.3rem;
//     // width: 34rem;
//     // height: 11rem;
//     width: 18.5rem;
//     height: 11rem;
//   }
//   @media screen and (min-width:1568px) and (max-width:8000px) {
//     // left: 22.2525%;
//     width: 38em;
//     height: 38rem;
//     // width: 70.3rem;
//     // height: 33rem;
//   }
// }

// .actions {
// 	// position: absolute;
// 	// bottom: 25px;
// 	// left: 50%;
// 	// transform: translateX(-50%);
//   text-align: center;
//   color: #fff;
//   // pointer-events: none;
//   // font-family: Manrope, sans-serif;
//   // font-size: 3rem;
//   font-weight: 700;
//   pointer-events: all;
//   //   cursor: pointer;
// }
.slider-video {
  object-fit: cover;
    overflow-clip-margin: content-box;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    min-width: 1px;
    // height: fit-content;
    // border-radius: 0.1rem;
    // display: grid;
    position: relative;
    overflow: clip;
}
.next--centering--div  {
  // height: 100dvh;
  // height: 70dvh;
  // position:absolute;
  // right: 0;
  // top: 0;
  right: 0;
  position: absolute;
  z-index: 9999;
  padding-top: 13rem;
  display: grid;
  @media screen and (max-width:768px){
    padding-top: 4rem;
    padding-right: 2rem;
  }
  @media screen and (max-width:451px){
    padding-top: 4rem;
    padding-right: 0;
  }
  // pointer-events: none;
  // align-content: center;
}
.next {
  pointer-events: all;
  cursor: pointer;
  z-index: 9999;
  outline: none;
  border: none;
  padding: 8px 14px;
  background: none;
  font-size: 2rem;
  --fa-secondary-color: #d4d1d1;
  --fa-secondary-opacity: 0.8;
  color: #fff;
  @media screen and (max-width:1068px){
    font-size: 2rem;
  }
  @media screen and (max-width:768px){
    font-size: 1.5rem;
  }
  @media screen and (max-width:414px) {
    font-size: 1.5rem;
  }
}
.prev--centering--div  {
  // height: 100dvh;
  // height: 70dvh;
  // position:absolute;
  // left: 0;
  // top: 0;
  display: grid;
  position: absolute;
  z-index: 9999;
  padding-top: 13rem;
  left: 0;
  pointer-events: none;
  @media screen and (max-width:768px){
    padding-top: 4rem;
    padding-left: 2rem;
  }
  @media screen and (max-width:451px){
    padding-top: 4rem;
    padding-left: 0;
  }
  // align-content: center;
}
.prev {
  pointer-events: all;
  cursor: pointer;
  z-index: 9999;
  outline: none;
  border:none;
  padding: 8px 14px;
  background:none;
  font-size: 2rem;
  --fa-secondary-color: #d4d1d1;
  --fa-secondary-opacity: 0.8;
  color: #fff;
  @media screen and (max-width:1068px){
    font-size: 2rem;
  }
  @media screen and (max-width:768px){
    font-size: 1.5rem;
  }
  @media screen and (max-width:414px) {
    font-size: 1.5rem;
  }
}
.prev:hover {
  // opacity: 1;
  --fa-secondary-color: #a8a8a89f;
  --fa-secondary-opacity: 0.8;
  color: #f8f3f4fb;
}
.next:hover {
  // opacity: 1;
  --fa-secondary-color: #a8a8a89f;
  --fa-secondary-opacity: 0.8;
  color: #f8f3f4fb;
}

.splide:not( .is-overflow ) .splide__list {
  justify-content: center;
}
.splide:not( .is-overflow ) .splide__slide:last-child {
  margin: 0 !important;
}

.splide {
  $root: &;

  &__slide {
    &--has-video {
      cursor: pointer;

      &:hover {
        #{ $root }__video {
          &__play {
            opacity: 1;
          }
        }
      }
    }

    &__container {
      &--has-video {
        cursor: pointer;
        position: relative;

        &:hover {
          #{ $root }__video {
            &__play {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}


.splide {
  $root: &;

  &__video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &__wrapper {
      background: #000;
      height: inherit;
      width: inherit;

      // div is for Vimeo
      div,
      iframe,
      video {
        height: 100%;
        width: 100%;
      }
    }

    &__play {
      align-items: center;
      background: $play-button-background-color;
      border: 0;
      border-radius: $play-button-border-radius;
      cursor: pointer;
      display: flex;
      height: $play-button-height;
      justify-content: center;
      left: 50%;
      opacity: .7;
      position: absolute;
      top: 50%;
      transform: translate( -50%, -50% );
      transition: $play-button-transition;
      width: $play-button-width;

      &::after {
        border-color: transparent;
        border-left-color: $play-button-color;
        border-style: solid;
        border-width: $play-icon-width 0 $play-icon-width $play-icon-height;
        content: '';
        display: inline-block;
        margin-left: 4px;
      }
    }
  }
}
