@use './helpers.scss' as *;

  //// resets 
 @font-face {
    font-family: "Manrope";
    src: url('../../assets/fonts/Manrope-VariableFont_wght.ttf');
}
  * {
    margin: 0;
    padding: 0;
  }

:root {
  --adjust-height:calc(75% );
  --adjust-width:calc(75% );
  --half-column-distance: calc(100vw / 24);
}
.topbar--global {
    // background: black;
      position: absolute;
      top:0;
      left:15px;
      z-index: 999;
  }
  .topbar--svg {
    width: 150px;
    height: 125px;
    position: fixed;
  }
  body {
    background-color: black;
    color: white;
    font-size: 1.1em;
    font-family: "Manrope", sans-serif;
    font-display: swap;
    @media (max-width: 768px) {
        overflow-y: scroll;
        overflow-x: hidden;
    }
  }
  .outer__wrapper {
    display: grid;
    gap: 8px;
    grid-auto-rows: 1fr;
  }
 .homegrid__container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    background-color: black;
    height: 100vh;
    width: 100%;
    position: relative;

  }

  .central--smile--svg {
    width: unset;
    height: unset;
    width: 16%;
    max-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
  }
  .grid__item:not(.fixed-item) {
    grid-area: auto;
  }
  #top-logo {
    grid-area: 1 / 1 / 2 / 2;
  }
  
  #center-logo {
    grid-area: 2 / 2 / 3 / 4;
    place-self: center;
    width: var( --adjust-width);
    height: var(--adjust-height);
    background: transparent;
    pointer-events: none;
    scale:1.25;
    box-sizing: border-box;
    padding: 0;
    display: grid;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    overflow: hidden;
    @media (max-width: 768px) {
      position: fixed;
    }
  }
  
  #about {
    grid-area: 1 / 4 / 2 / 5;
    justify-self: end;
    align-self: start;
  }
  .grid-item {
    margin-top: unset;
    background-size: cover;
    background-position: center;
    position: absolute;
    overflow: hidden;
    // width: 100%;
    // height: 100%;
    width: var(--item-width, 100%);
    height: var(--item-height, 100%);

    // max-width: 200px; /* adjust as needed */
    // max-height: 150px; /* adjust as needed */
  }
  .grid__item.small {
    --item-width: 150px;
    --item-height: 150px;
  }
  
  .grid__item.medium {
    --item-width: 200px;
    --item-height: 200px;
  }
  
  .grid__item.large {
    --item-width: 300px;
    --item-height: 300px;
  }
  .fill-space {
    background:transparent;
  }
 .item-1 {
    background-color: blue;
    min-height: 150px;
    grid-area: 1 / 1 / 3 / 2;
    margin-top:-70px;
    @media (min-width: 2000px) {
      max-width: 70%;
    }
    @media (max-width: 1024px) {
      width: 110%;
      margin:0;
    }
  }

 .item-2 {
    background-color: pink;
    grid-area: 2 / 2 / 3 / 3;
    margin: 0;
  @media (min-width: 2000px) {
    max-width: 60%;
  }
  @media (max-width: 1024px) {
    margin-bottom: 70px;

    align-self: center;
  }
  @media (max-width: 768px) {
    margin: 0;
  }
  }

 .item-3 {
    background-color: green;
    grid-area: 2 / 4 / 3 / 5;
  }

 .item-4 {
    // max-width: 70%;
    margin-top: 10px;
    background-color: violet;
    grid-area: 3 / 1 / 4 / 2; 
    margin-left: 40px;
    @media (min-width: 2000px) {
      max-width: 52%;
    }
    @media (max-width: 768px) {
      max-width: unset;
    }
    @media (max-width: 1024px) {
      margin: 0;
    }
  }

 .item-5 {
    background-color: brown;
    grid-area: 3 / 2 / 4 / 4; 
    margin-top: 20px; // make sure to media query this
    @media screen and (max-width:1024px) {
      align-self: center;
      margin: 0;
    }
    @media (min-width: 2000px) {
    //   max-width: 80%;
    }
  }
  
 .item-6 {
    background-color: yellow;
    grid-area: 3 / 4 / 4 / 5; 
    @media (min-width: 2000px) {
        // max-width: 80%;
      }
  }

 .item-7 {
    background-color: gray;
    grid-area: 4 / 1 / 5 / 2; 
    margin-left: 70px;
    @media (min-width: 2000px) {
      margin-top: 50px;
    //   max-width: 73%;
    }
  }
  
 .item-8 {
    background-color: yellowgreen;
    grid-area: 4 / 3 / 5 / 4;
    margin-left: var(--half-column-distance);
    @media (min-width: 2000px) {
    //   max-width: 80%;
    }
    @media (max-width: 1024px) {
    //   height: 150px;
      margin-top: 35px;
    }
    @media (max-width: 768px) {
      height: unset;
    //   width: 100%;
    //   min-width: 1px;
      margin: 0;
    }
  }
  
 .item-9 {
    background-color: orange;
    grid-area: 4 / 4 / 5 / 5; 
    align-self: center;
    margin-right: var(--half-column-distance);
    @media (min-width: 2000px) {
      max-width: 85%;
    }
  }
  .item-10 {
    background-color: rgb(93, 0, 255);
    grid-area: 1 / 4 / auto / span 1;
    height: 150px;
  }

  .item-11 {
    background-color: rgb(255, 0, 170);
    grid-area: 1 / 1 / auto / span 1;
    // height: 150px;



  }
  .item-12 {
    background-color: rgb(0, 255, 170);
    grid-area: 4 / 1 / auto / span 1;
    // height: 150px;



  }


  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto repeat(5, 1fr);
    }
  
    .about {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  
    .item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9 {
      grid-column: span 1;
    }
  }
  
  @media (max-width: 480px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto repeat(9, 1fr);
    }
  
    .logo, .about {
      grid-column: 1 / 2;
    }
  
    .item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9 {
      grid-column: 1 / 2;
      grid-row: span 1;
    }
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
  }
  .video--figure {
    position: relative;
    align-items: center;
    width: 100%;
    margin: 0;
    display: grid;
    cursor: pointer;
    will-change: transform;
    box-sizing: content-box; 
    height: fit-content; //need for height to stay consistent
    @media (max-width: 768px) {
      aspect-ratio: 16 / 9;
      height: 100%;
      align-items: center;
    }
}
.video--item {
    width: 100%;
    min-width: 1px;
      position: relative;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
    box-sizing: content-box; 
    @media (max-width: 768px) {
      align-items: center;
      justify-items: center;
    }
  }
  
//   .grid__item.modal-active {
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 80vw;
//     height: 80vh;
//     z-index: 1000;
//   }

.fullscreen--scale.modal-active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fullscreen--scale.modal-active > * {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .fullscreen--scale {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    z-index: 9999;
  }
  
  .xmark--closer {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  

  //might be overkill actually
  .grid__item:nth-child(2n+1),
  .grid__item:nth-child(5n) {
    align-self: start;
  } 
  .grid__item:nth-child(3n+2),
  .grid__item:nth-child(2n) {
    align-self: center;
  } 
  .grid__item:nth-child(5n+3),
  .grid__item:nth-child(3n) {
    align-self: end;
  } 