@use './helpers.scss' as *;

//// resets 
 @font-face {
    font-family: "Manrope";
    src: url('../../assets/fonts/Manrope-VariableFont_wght.ttf');
}
// html.lenis, html.lenis body {
//   height: auto;
// }

// .lenis.lenis-smooth {
//   scroll-behavior: auto !important;
// }

// .lenis.lenis-smooth [data-lenis-prevent] {
//   overscroll-behavior: contain;
// }

// .lenis.lenis-stopped {
//   overflow: hidden;
// }

// .lenis.lenis-smooth iframe {
//   pointer-events: none;
// }
/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden; }

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }

// [data-scroll-direction="horizontal"] [data-scroll-container] {
//   height: 100vh;
//   display: inline-block;
//   white-space: nowrap; }

// [data-scroll-direction="horizontal"] [data-scroll-section] {
//   display: inline-block;
//   vertical-align: top;
//   white-space: nowrap;
//   height: 100%; }

// .c-scrollbar {
//   position: absolute;
//   right: 0;
//   top: 0;
//   width: 11px;
//   height: 100%;
//   transform-origin: center right;
//   transition: transform 0.3s, opacity 0.3s;
//   opacity: 0; }
//   .c-scrollbar:hover {
//     transform: scaleX(1.45); }
//   .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
//     opacity: 1; }
//   [data-scroll-direction="horizontal"] .c-scrollbar {
//     width: 100%;
//     height: 10px;
//     top: auto;
//     bottom: 0;
//     transform: scaleY(1); }
//     [data-scroll-direction="horizontal"] .c-scrollbar:hover {
//       transform: scaleY(1.3); }

// .c-scrollbar_thumb {
//   position: absolute;
//   top: 0;
//   right: 0;
//   background-color: black;
//   opacity: 0.5;
//   width: 7px;
//   border-radius: 10px;
//   margin: 2px;
//   cursor: -webkit-grab;
//   cursor: grab; }
//   .has-scroll-dragging .c-scrollbar_thumb {
//     cursor: -webkit-grabbing;
//     cursor: grabbing; }
//   [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
//     right: auto;
//     bottom: 0; }
.masking--container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 9999;
  pointer-events: none;
}
.masking--element {
  height: 100vh;
  width: 100%;
  background: #000000;
  opacity: 0;
  // transform: translateY(100%);
}
a:focus {
  outline: none;
  background: lightgrey;
}
a:focus:not(:focus-visible) {
  background: transparent;
}
a:focus-visible {
  background: transparent;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Manrope";
}
*, *::before, *::after { 
  box-sizing: border-box;
}
:root {
  --adjust-height:calc(75% );
  --adjust-width:calc(75% );
  --elem-width:calc(100%);
  --elem-height:calc(100%);
  --half-column-distance: calc(100vw / 24);
}
.box {
  width: 31%;
  // height: 15vh;
  // margin: 5px;
  height: var(--elem-height);
  width: var(--elem-width);
  display: inline-grid; //gsap needs a display
  // opacity: 0;
  will-change: transform;
}
.grid-track {
  position:relative;
  overflow: hidden;
}
h1,
h2,
h3,
h4 {
  margin: 10px 0 10px 0;
  font-weight: 400;
  line-height: 1.2;
  color: var(--color-surface-white);
}

h1,
.h1 {
  font-size: var(--step-4);
}

h2,
.h2 {
  font-size: var(--step-3);
}

h3,
.h3 {
  font-size: var(--step-2);
}

h4,
.h4,
.lead {
  font-size: var(--step-1);
}

// .green {
//   background-color: var(--green);
// }
// .blue {
//   background-color: var(--blue);
// }
// .purple {
//   background-color: var(--purple);
// }
// .red {
//   background-color: var(--red);
// }
// .orange {
//   background-color: var(--orange);
// }

// .dark {
//   background-color: var(--dark);
//   color: var(--light);
// }

// .light {
//   background-color: var(--light);
//   color: var(--dark);
// }

// .text-light {
//   color: var(--light);
// }

// .text-dark {
//   color: var(--dark);
// }

// .gray,
// .grey {
//   background-color: var(--grey);
// }

// .containerpoop {
// max-width: 800px;
// margin: auto;
// width: 100%;
// line-height: 0;
// display: flex;
// align-items: center;
// justify-content: center;
// flex-wrap: wrap;
// }

.topbar--global {
    // background: black;
      position: absolute;
      top:0;
      left:15px;
      z-index: 999;
  }
  .topbar--svg {
    width: 150px;
    height: 125px;
    @media (max-width: 768px) {
      width: 120px;
      height: 105px;
    }
  }
  html {
    background: black;
  }
  body {
    margin: 0;
    padding: 0;
    // background-color: transparent;
    background: url('../../assets/images/theatre.jpg') no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 1.1em;
    font-family: "Manrope", sans-serif;
    font-display: swap;
    overflow-y: hidden;
    @media (max-width: 768px) {
      // overflow-y: hidden;
      // overflow-x: scroll;
      overflow: hidden;
    }
  }
  .webgl-canvas {
    width: 100%;
	  height: 100%;
  }
  canvas {
    // width: 100%;
    // min-height: 100vh;
    // height:100%;
    display: grid;
    z-index: 2;
    pointer-events: none;
    position: absolute;
    top: 0;
}
  // .outer__wrapper {
  //   display: grid;
  //   min-height: 100vh;
  //   width: 100%;
  //   pointer-events: all;
  //   grid-row: auto;
  //   position: relative;
  //   @media (max-width: 768px) {
  //     // overflow-y: scroll;
  //     // overflow-x: hidden;
  // }
  // }
  .outer__wrapper {
    // display: grid; //affects nav
    // height: 100vh;
    pointer-events: all;
    grid-row: auto;
    // padding-top:100px;

    }
    .homegrid__wrapper {
      position: absolute;
      height: 100%;
      width: 100vw;
      overflow: hidden;
      box-sizing: border-box;
      @media (max-width: 768px) {
      overflow-x: auto;
      overflow-y: hidden;
      }
      
    }
//   .scroll-section {
//   	--padding: 10vmin;
// 		position: relative;
// 		padding: var(--padding);
// 		--pad2: calc(var(--padding) * 2);
// 		width: calc(100vw - var(--pad2));
// 		height: calc(100vh - var(--pad2));
// 		// min-height: 400px;
// 		margin: 0 auto;
// 		z-index: 2;

// }

.homegrid__container {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  display: grid;
  grid-template: 
  "     .      .      .      .      . video1 video1 video1     . video3 video3      ." 12.5%
  "     . video2 video2 video2      .      .     .      .      . video3 video3      ." 12.5%
  "     . video2 video2 video2      .      .     . video5 video5 video5      .      ." 12.5%
  "     .      .      . video9 video9 video9     . video5 video5 video5 video8 video8" 12.5%
  "video6 video6      . video9 video9 video9     . video5 video5 video5 video8 video8" 12.5%
  "video6 video6      . video9 video9 video9     . video7 video7 video7      .      ." 12.5%
  "     .      . video4 video4 video4 video4     . video7 video7 video7      .      ." 12.5%
  "     .      . video4 video4 video4 video4     . video7 video7 video7      .      ." 12.5% / 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%
  ;
  @media (min-width: 1624px) {}
  @media (max-width: 1024px) {
    grid-template: 
  "     .      .      .      .      . video5 video5 video5      .      .      .      ." 8.33%
  "     . video1 video1 video1      .      .      .      .      . video3 video3 video3" 8.33%
  "     . video1 video1 video1      .      .      .      .      . video3 video3 video3" 8.33%
  "     .      .      .      .      . video2 video2 video2      . video3 video3 video3" 8.33%
  "video6 video6 video6 video6      . video2 video2 video2      .      .      .      ." 8.33%
  "video6 video6 video6 video6      . video2 video2 video2      .      .      .      ." 8.33%
  "video6 video6 video6 video6      . video2 video2 video2 video8 video8 video8 video8" 8.33%
  "     .      . video9 video9 video9 video9      .      . video8 video8 video8 video8" 8.33%
  "     .      . video9 video9 video9 video9      .      . video8 video8 video8 video8" 8.33%
  "     .      . video9 video9 video9 video9      . video7 video7 video7 video7      ." 8.33%
  "     . video4 video4 video4 video4 video4      . video7 video7 video7 video7      ." 8.33%
  "     . video4 video4 video4 video4 video4      . video7 video7 video7 video7      ." 8.33% / 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%
  ;
  }
  @media (max-width: 768px) {
    position: relative;
    width: 275%;
    grid-template: 
    "     .      .      .      .      .      .      .      .      .      .      .      .      .      .      ." 105px
    "video2 video2 video2      .      .      .      .      . video3 video3 video3      . video9 video9 video9" 10%
    "video2 video2 video2      . video1 video1 video1      . video3 video3 video3      . video9 video9 video9" 10%
    "video2 video2 video2      . video1 video1 video1      .      .      .      .      . video9 video9 video9" 10%
    "     .      .      .      .      .      .      .      .      . video7 video7 video7      .      .      ." 10%
    "     . video6 video6 video6      .      .      .      .      . video7 video7 video7      .      .      ." 10%
    "     . video6 video6 video6      . video5 video5 video5      . video7 video7 video7      .      .      ." 10%
    "     .      .      .      .      . video5 video5 video5      .      . video8 video8 video8 video8      ." 10%
    "video4 video4 video4 video4      . video5 video5 video5      .      . video8 video8 video8 video8      ." 10%
    "video4 video4 video4 video4      .      .      .      .      .      . video8 video8 video8 video8      ." 10% / 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14% 7.14%
    ;
  }
}


.filler-space {
    width: 100%;
    height: 100%;
	  grid-area:(var(--columns), var(--rows));
}
.central--smile--svg {
  width: unset;
  height: unset;
  max-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media (max-width: 768px) {
    width: 100%;
    height: 100%;
    grid-area: 5 / 6 / 7 / 9;
    position: absolute;
    scale:0.885;
  }
}
  .grid__item:not(.fixed-item) {
    // grid-area: auto;
  }
  #top-logo {
    grid-area: 1 / 1 / 2 / 2;
  }
  
  #center-logo {
    grid-area: 3 / 6 / span 3 / 8;
    place-self: center;
    width: 100%;
    height: 100%;
    background: transparent;
    pointer-events: none;
    scale:1.25;
    box-sizing: border-box;
    padding: 0;
    display: grid;
    overflow: hidden;
    @media (max-width: 768px) {
      grid-area: 4 / 2 / 7 / 5;
      width: 100%;
      height: 100%;
      position: fixed;
      scale:0.6;
      z-index: 28;
    }
  }
  
  // #about {
  //   // grid-area: 1 / 4 / 2 / 5;
  //   // justify-self: end;
  //   // align-self: start;
  // }
  .grid-item {
    // margin-top: unset;
    // background-size: cover;
    // background-position: center;
    // position: absolute;
    // overflow: hidden;
    // // width: 100%;
    // height: 100%;
    // // display: flex;
    // justify-content: center;
    // align-items: center;
    // overflow: hidden;
    // position: relative;
    // // align-items: center;
    // width: 100%;
    // margin: 0;
    // display: grid;
    // cursor: pointer;
    // will-change: transform;
    // box-sizing: content-box; 
    // height: fit-content; //need for height to stay consistent
    // // width: var(--item-width, 100%);
    // // height: var(--item-height, 100%);
    position: relative;
    width: 100%;
    height: auto; // To maintain aspect ratio
    display: grid;
    place-items: center; // Center contents
    box-sizing: border-box; 
    overflow: hidden;
    cursor: pointer;
    will-change: transform;
    max-width: 200px; 
    max-height: 150px; 
  }
  .grid__item.small {
    --item-width: calc(75%);
    --item-height: calc(75%);
  }
  
  .grid__item.medium {
    --item-width: calc(90%);
    --item-height:calc(90%);
  }
  
  .grid__item.large {
    // --item-width: 250px;
    // --item-height: 250px;
    --item-width: calc(100%);
    --item-height:calc(100%);
  }
  .fill-space {
    background:transparent;
  }

  .figure--wrapper--div {
    position: relative;
    align-items: center;
    width: 100%;
    margin: 0;
    display: grid;
    cursor: pointer;
    will-change: transform;
    box-sizing: content-box; 
    // height: fit-content; //need for height to stay consistent
    @media (max-width: 768px) {
      aspect-ratio: 16 / 9;
      height: 100%;
      align-items: center;
    }
  }
  .hidden--figurewrapper--div {
    display: none;
    pointer-events: none;
    width: 0;
  }
  .hidden--video {
    display: none;
    pointer-events: none;
    width: 0;
  }
  .video--figure {
    position: relative;
    align-items: center;
    width: 100%;
    margin: 0;
    display: grid;
    cursor: pointer;
    will-change: transform;
    box-sizing: content-box; 
    height: fit-content; //need for height to stay consistent
    @media (max-width: 768px) {
      // aspect-ratio: 16 / 9;
      // height: 100%;
      // align-items: center;
    }
  }
  .video--item {
    width: 100%;
    min-width: 1px;
    position: relative;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
    display: grid;
    box-sizing: content-box;  
    // height: fit-content; //need for height to stay consistent
    @media (max-width: 768px) {
      align-items: center;
      justify-items: center;
      aspect-ratio: 16 / 9;
      height: 100%;
      align-items: center;
    }
  }
  //behind logo
 .item-1 {
    // background-color: blue;
    min-height: 170px;
    //initial
    grid-area: span 2 / 1 / 3 / span 3;
    // margin-top:-70px;
    // @media (min-width: 2000px) {
    //   max-width: 70%;
    // }
    @media (max-width: 1024px) {
      width: 110%;
      margin:0;
    }
  }

 .item-2 {
    // background-color: pink;
    grid-area: video2;
    // grid-area: 2 / 2 / 3 / 3;
    margin: 0;
  @media (min-width: 2000px) {
    max-width: 75%;
  }
  @media (max-width: 1024px) {
    margin-bottom: 70px;

    align-self: center;
  }
  @media (max-width: 768px) {
    margin: 0;
  }
  }

 .item-3 {
    // background-color: green;
    // grid-area: 2 / 4 / 3 / 5;
    grid-area: video3;
  }

 .item-4 {
    max-width: 70%;
    margin-top: 10px;
    // background-color: violet;
    // grid-area: 3 / 1 / 4 / 2; 
    grid-area: video4;
    margin-left: 40px;
    @media (min-width: 2000px) {
      max-width: 52%;
    }
    @media (max-width: 768px) {
      max-width: unset;
    }
    @media (max-width: 1024px) {
      margin: 0;
    }
  }

 .item-5 {
    // background-color: brown;
    grid-area: 3 / 2 / 4 / 4; 
    // grid-area:video5;
    margin-top: 20px; // make sure to media query this
    @media screen and (max-width:1024px) {
      align-self: center;
      margin: 0;
    }
    @media (min-width: 2000px) {
      max-width: 80%;
    }
  }
  
 .item-6 {
    // background-color: yellow;
    // grid-area: 3 / 4 / 4 / 5; 
    grid-area:video5;
    @media (min-width: 2000px) {
        max-width: 80%;
      }
  }

 .item-7 {
    // background-color: gray;
    // grid-area: 4 / 1 / 5 / 2; 
    grid-area: video7;
    margin-left: 70px;
    @media (min-width: 2000px) {
      margin-top: 50px;
      max-width: 73%;
    }
  }
  
 .item-8 {
    // background-color: yellowgreen;
    // grid-area: 4 / 3 / 5 / 4;
    grid-area: video8;
    margin-left: var(--half-column-distance);
    align-self: center;
   height: 220px;
    width: auto;
    @media (min-width: 2000px) {
      max-width: 80%;
      height: 220px;
    }
    @media (max-width: 1024px) {
      height: 150px;
      margin-top: 35px;
    }
    @media (max-width: 768px) {
      height: unset;
      width: 100%;
      min-width: 1px;
      margin: 0;
    }
  }
  
 .item-9 {
    // background-color: orange;
    // grid-area: 4 / 4 / 5 / 5; 
    grid-area: video9;
    align-self: center;
    margin-right: var(--half-column-distance);
    margin-top: 64px;
    @media (min-width: 2000px) {
      max-width: 85%;
      margin-top: 64px;
    }
  }
  .item-10 {
    // background-color: rgb(93, 0, 255);
    // grid-area: 1 / 4 / auto / span 1;
    grid-area:1 / 12 / auto / span 2;
    height: 150px;
  }

  .item-11 {
    // background-color: rgb(255, 0, 170);
    // grid-area: 1 / 1 / auto / span 1;
    grid-area: video1;
    // height: 150px;
    margin-top: -100px;
    @media (min-width: 2000px) {
      max-width: 70%;
    }
    @media (max-width: 1024px) {
      width: 110%;
      margin:0;
    }


  }
  .item-12 {
    // background-color: rgb(0, 255, 170);
    // grid-area: 4 / 1 / auto / span 1;
    // height: 150px;
    // grid-area: 4 / 2 / auto / span 1;
    grid-area: video6;

  }


  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto repeat(5, 1fr);
    }
  
    .about {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  
    .item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9 {
      grid-column: span 1;
    }
  }
  
  @media (max-width: 480px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto repeat(9, 1fr);
    }
  
    .logo, .about {
      grid-column: 1 / 2;
    }
  
    .item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9 {
      grid-column: 1 / 2;
      grid-row: span 1;
    }
  }

  .pos-1 { 
    grid-area: video1;
    margin-top:-70px;
    @media (max-width: 1024px) {
      margin: 0;
    }
    @media (max-width: 768px) {}
    @media (max-width: 480px) {}
  }
  .video--item1 {
    @media (min-width: 2000px) {
      max-width: 70%;
    }
    @media (max-width: 1024px) {
      width: 110%;
    }
  }
  .pos-2 { 
    grid-area: video2;
    @media (max-width: 1024px) {
      margin: 0;
      align-self: center;
    }
  }
  .video--item2 {
    @media (min-width: 2000px) {
      max-width: 60%;
    }
    @media (max-width: 1024px) {
      margin-bottom: 70px;
    }
    @media (max-width: 768px) {
      margin: 0;
    }
  }
  .pos-3 { 
    grid-area: video3;
    align-self: center;
  }
  .video--item3 {
    @media (min-width: 2000px) {
      max-width: 80%;
    }
  }
  .pos-4 { 
    grid-area: video4;
    margin-top: 10px;
    margin-left: 40px;
    @media (max-width: 1024px) {
      margin: 0;
    }
  }
  .video--item4 {
    max-width: 70%;
    @media (min-width: 2000px) {
      max-width: 52%;
    }
    @media (max-width: 768px) {
      max-width: unset;
    }
  }
  .pos-5 { 
    grid-area: video5;
    margin-top: 20px;
    @media (max-width: 1024px) {
      align-self: center;
      margin: 0;
    }
  }
  .video--item5 {
    @media (min-width: 2000px) {
      max-width: 80%;
    }
  }
  .pos-6 { 
    grid-area: video6;
  }
  .video--item6 {
    @media (min-width: 2000px) {
      max-width: 80%;
    }
    @media (max-width: 768px) {
      width: 115%;
      margin:0;
    }
  }
  .pos-7 { 
    grid-area: video7;
    margin-left: 70px;
    @media (max-width: 1024px) {
      margin: 0;
      align-self: center;
    }
  }
  .video--item7 {
    @media (min-width: 2000px) {
      margin-top: 50px;
      max-width: 73%;
    }
  }
  .pos-8 { 
    grid-area: video8;
    margin-left: 40px;
    @media (min-width: 2000px) {
      max-width: 100%;
      margin-left: var(--half-column-distance);
    }
    @media (max-width: 1024px) {
      margin-top: 35px;
    }
    @media (max-width: 768px) {
      margin: 0;
    }
  }
  .video--item8 {
    height: 190px;
    width: auto;
    @media (min-width: 2000px) {
      max-width: 100%;
      height:220px;
    }
    @media (max-width: 1024px) {
      height: 150px;
    }
    @media (max-width: 768px) {
      height: unset;
      width: 85%;
      min-width: 1px;
    }
  }
  .pos-9 { 
    grid-area: video9;
    align-self: center;
    margin-right: var(--half-column-distance);
    @media (max-width: 1024px) {
      margin: 0;
    }
  }
  .video--item9 {
    @media (min-width: 2000px) {
      max-width: 85%;
    }
    @media (max-width: 768px) {
      width: 110%;
      margin:0;
    }
  }


// link styles
.shadow-inner-grid {
  display: grid;
  // grid-auto-columns: 50% 50% auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr .25fr 1fr;
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99999;
  grid-area: unset;
  grid-auto-rows: 100%;
  align-items: center;
  justify-items: center;
  margin: 0;
  padding: 0;
  pointer-events: all;
}

.play--icon__wrapper {
  background-color: transparent;
  border-radius: 4px;
  // border: 2px solid red;
}
.play--icon {
  --fa-secondary-color: #d4d1d1;
  --fa-secondary-opacity: 0.6;
  color: #f8f3f4;
  opacity: .8;
  font-size: 5.5rem;
  margin: 10px;
  position: absolute;
  cursor: pointer;
  animation-name: links-fade-in;
  animation-duration: 2s;
  transition: all .7s ease-in-out;
  @media (min-width: 2000px) {
    font-size: 120px;
    font-size: 7.5rem;
  }
  @media (max-width: 1024px) {
    font-size: 4.5rem;
  }
  @media (max-width: 768px) {
    font-size: 4rem;
  }
}
.play--icon:focus, :focus-within {
  outline: none;
}
.play--icon:hover {
  opacity: 1;
  color:  #bcbcbc;
}

.project-name {
  white-space: nowrap;
  font-family: "Manrope", sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 200;
  // grid-column: 2 / 2;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  width: auto;
  height: auto;
  // background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  // border: 1px solid black;
  z-index: 9999;
  // cursor: pointer;
  cursor: default!important;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  animation-name: links-fade-in;
  animation-duration: 2s;
  transition: all 0.8s ease-in-out;
  align-self: flex-start;
  @media (min-width: 2000px) {
    font-size: 5rem;
  }
  @media (max-width: 1024px) {
    font-size: 2.5rem;
  }
  @media (max-width: 768px) {
    font-size: 1rem;
    margin-right: 10px;
  }
}

.project-name-revealed {
  font-family: inherit;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color:white;
}
.project-name-revealed:hover {
  text-decoration: none;
}
.project-name-revealed:visited, 
.project-name-revealed:active, 
.project-name-revealed:target, 
.project-name-revealed:focus-visible, 
.project-name-revealed:focus-within  {
  text-decoration: none;
  color:white;
}
.project-name-hidden {
  visibility: hidden;
  display: none;
}
.company-name {
  white-space: nowrap;
  font-family: "Manrope", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 200;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: auto;
  height: auto;
  // background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  // border: 1px solid black;
  z-index: 9999;
  // cursor: pointer;
  cursor:default;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  animation-name: links-fade-in;
  animation-duration: 1.25s;
  transition: all 1s ease-in-out;
  align-self: flex-end;
  @media (min-width: 2000px) {
    font-size: 5rem;
  }
  @media (max-width: 1024px) {
    font-size: 2.5rem;
  }
  @media (max-width: 768px) {
    font-size: 1rem;
    margin-left: 10px;
  }
}
// .company-name:hover {
//   border-top: 1px solid #fff;
//   border-bottom: 1px solid #fff;
// }
.company-name-revealed {
  font-family: inherit;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color:white;
}
.company-name-revealed:hover {
  text-decoration: none;
}
.company-name-revealed:visited, 
.company-name-revealed:active, 
.company-name-revealed:target, 
.company-name-revealed:focus-visible, 
.company-name-revealed:focus-within  {
  text-decoration: none;
  color:white;
}
.company-name-hidden {
  visibility: hidden;
  display: none;
}
@keyframes links-fade-in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.01;
  }
  30% {
    opacity: 0.02;
  }
  100% {
    opacity: 1;
  }
}

// end link styles
      
.fullscreen--scale {
position: fixed;
pointer-events: all;

// width: 100vw;
// height: 100vh;

}
// .fullscreen--scale:focus-visible, :focus-within, :focus {
//   outline: none;
//   scale:1;
//   // grid-template-rows: 1fr .25fr 1fr;
//   // grid-template-columns: 1fr;
//   grid-area: unset;
//   pointer-events: all;
//   grid-auto-rows: 100%;
//   place-items: center;
//   align-items:center;
//   justify-items: center;
//   width: 100%;
//   height: 100vh;
//   margin: 0;
//   // padding: 0 0 29% 0;
//   display: grid;
//   position: fixed;
//   // bottom: 0;
//   // left: 0;
//   backdrop-filter: blur(5px);
// 	background: rgba(0,0,0,0.5);
// }

.active-overlay {
  backdrop-filter: blur(5px);
	background: rgba(0,0,0,0.5);
}

  
  .xmark--closer {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  .is-hidden {
    display: none;
  }
  
  .button-close {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  .section,
.scroll-section {

  position: relative;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
}
//   .section {
//     // padding-top:100vw;
//     // // scroll-padding: 100vw;

//     // border: 1px solid aliceblue;
//     // height: 100%;
//     // overflow-x: auto;
//     // // overflow-y: hidden;
//     // position:relative;
//     // width: 100vw;
//     width: calc(100vw );
// 		height: calc(100vh );
// 		// min-height: 400px;
// 		// margin: 0 auto;
// 		z-index: 2;
//     right:-100vw;
//     overflow-x: auto;
//     white-space: nowrap;
//     // width: 100vw;
//     position: absolute;
//   }
//   .scroll-section {
//   	// --padding: 1vmin;
// 		// position: relative;
// 		// padding: var(--padding);
// 		// --pad2: calc(var(--padding) * 2);
// 		width: calc(100vw );
// 		height: calc(100vh );
// 		// min-height: 400px;
// 		// margin: 0 auto;
// 		z-index: 2;
//     right:-100vw;
//     overflow-x: auto;
//     white-space: nowrap;
//     // width: 100vw;
//     position: absolute;
// }
.secondgrid_wrapper {
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  position:relative;
  width: 100vw;
}
  .homegrid__container-new {
    // --cgap: 5%;
    // --rgap: 5%;
    // --rows: 8;
    // --columns: 12;
    // overflow: visible;
    // width: 200vh;
    // overflow-x: scroll;
    // position:absolute;
    // right:-100vw;
    // overflow-x: auto;
    // white-space: nowrap;
    // width: 100vw;
    // position: absolute;
    // position:relative;
    display: grid;
    grid-template: 
    "     .      .      .      .      . video1 video1 video1     . video3 video3      ." 12.5%
    "     . video2 video2 video2      .      .     .      .      . video3 video3      ." 12.5%
    "     . video2 video2 video2      .      .     . video5 video5 video5      .      ." 12.5%
    "     .      .      . video9 video9 video9     . video5 video5 video5 video8 video8" 12.5%
    "video6 video6      . video9 video9 video9     . video5 video5 video5 video8 video8" 12.5%
    "video6 video6      . video9 video9 video9     . video7 video7 video7      .      ." 12.5%
    "     .      . video4 video4 video4 video4     . video7 video7 video7      .      ." 12.5%
    "     .      . video4 video4 video4 video4     . video7 video7 video7      .      ." 12.5% / 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%
    ;
      // grid-auto-flow: dense;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      // overflow: hidden;
    @media (min-width: 1624px) {
      
  
    }
    @media (max-width: 1024px) {
      width:150vw;
      grid-template: 
    "     .      .      .      .      . video5 video5 video5      .      .      .      ." 8.33%
    "     . video1 video1 video1      .      .      .      .      . video3 video3 video3" 8.33%
    "     . video1 video1 video1      .      .      .      .      . video3 video3 video3" 8.33%
    "     .      .      .      .      . video2 video2 video2      . video3 video3 video3" 8.33%
    "video6 video6 video6 video6      . video2 video2 video2      .      .      .      ." 8.33%
    "video6 video6 video6 video6      . video2 video2 video2      .      .      .      ." 8.33%
    "video6 video6 video6 video6      . video2 video2 video2 video8 video8 video8 video8" 8.33%
    "     .      . video9 video9 video9 video9      .      . video8 video8 video8 video8" 8.33%
    "     .      . video9 video9 video9 video9      .      . video8 video8 video8 video8" 8.33%
    "     .      . video9 video9 video9 video9      . video7 video7 video7 video7      ." 8.33%
    "     . video4 video4 video4 video4 video4      . video7 video7 video7 video7      ." 8.33%
    "     . video4 video4 video4 video4 video4      . video7 video7 video7 video7      ." 8.33% / 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%
    ;
    }
    @media (max-width: 768px) {
      --rows:4;
      --columns:6;
      //  overflow-y: scroll;
      // overflow: visible;
      // width: 200vh;
      // overflow-x: scroll;
      grid-template: 
      "     .      .      .      .      . video1 video1 video1     . video3 video3      ." 12.5%
      "     . video2 video2 video2      .      .     .      .      . video3 video3      ." 12.5%
      "     . video2 video2 video2      .      .     . video5 video5 video5      .      ." 12.5%
      "     .      .      . video9 video9 video9     . video5 video5 video5 video8 video8" 12.5%
      "video6 video6      . video9 video9 video9     . video5 video5 video5 video8 video8" 12.5%
      "video6 video6      . video9 video9 video9     . video7 video7 video7      .      ." 12.5%
      "     .      . video4 video4 video4 video4     . video7 video7 video7      .      ." 12.5%
      "     .      . video4 video4 video4 video4     . video7 video7 video7      .      ." 12.5% / 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%
      ;
      // grid-template: 
      // "     .      .      .      .      .      .      ." 7.5%
      // "     .      .      .      . video1 video1 video1" 17.5%
      // "     .      .      .      .      .      .      ." 1.5%
      // "video2 video2 video2      .      .      .      ." 17.5%
      // "     .      .      .      .      .      .      ." 12%
      // "     .      .      .      . video3 video3 video3" 17.5%
      // "     .      .      .      .      .      .      ." 1.5%
      // "video4 video4 video4      .      .      .      ." 17.5%
      // "     .      .      .      .      .      .      ." 1.5%
      // "     .      .      .      . video5 video5 video5" 17.5%
      // "     .      .      .      .      .      .      ." 1.5%
      // "video6 video6 video6      .      .      .      ." 17.5%
      // "     .      .      .      .      .      .      ." 1.5%
      // "     .      .      .      . video7 video7 video7" 17.5%
      // "     .      .      .      .      .      .      ." 1.5%
      // "video8 video8 video8      .      .      .      ." 17.5%
      // "     .      .      .      .      .      .      ." 1.5%
      // "     .      .      .      . video9 video9 video9" 17.5%
      // "     .      .      .      .      .      .      ." 30% / 16.25% 16.25% 16.25% 2.5% 16.25% 16.25% 16.25%
      // ;
    }
    @media (max-width: 480px) {}
  }