@use './helpers.scss' as *;

* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #000;
    color: #333;
    font-size: 1.1em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
 .homegrid__container {
    margin: 40px 0;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 275px 175px 175px 175px 175px 175px  ;
    grid-gap: 0.5em 0.5em;
  }
  .grid-item1 {
    margin-top: unset;
  }
  .grid__item:nth-child(2n+1),
  .grid__item:nth-child(5n) {
    align-self: start;
  } 
  .grid__item:nth-child(3n+2),
  .grid__item:nth-child(2n) {
    align-self: center;
  } 
  .grid__item:nth-child(5n+3),
  .grid__item:nth-child(3n) {
    align-self: end;
  } 
  